<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ltd.crossfire.companymanager.server.persistence.ConfigMapper">

  <select id="getOption" parameterType="string" resultType="CompanyConfig">
    select `key`, value from options where `key` = #{value}
  </select>
  
  <select id="getOptions" resultType="CompanyConfig">
    select `key`, value from options
  </select>

  <insert id="setOption" parameterType="CompanyConfig">
      INSERT INTO options (`key`, value, created, modified)
          VALUES (#{key}, #{value}, NOW(), NOW())
      ON DUPLICATE KEY UPDATE value = #{value}, modified = NOW()
  </insert>

</mapper>