<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/servlet-context.xml </param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>uk.ltd.crossfire.companymanager.server.GreetingServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>invoiceServlet</servlet-name>
		<servlet-class>uk.ltd.crossfire.companymanager.server.InvoiceRpcServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/CompanyManager/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>invoiceServlet</servlet-name>
		<url-pattern>/CompanyManager/invoice</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>CompanyManager.html</welcome-file>
	</welcome-file-list>

</web-app>
